.List{
    width: 15%;
    height: 450px;
    margin-left: 20px;
    margin-top: 25px;
     box-shadow: 0 0 1.2em #DCDCDC;;
    
    display:flex;
    flex-direction: column;
    position: absolute;
    right:50px;
    margin-right: 20px;
}
.ProductWrap{
    overflow-x:hidden;
    overflow-y:scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #DCDCDC;
    padding: 10px;
}

.ProductWrap::-webkit-scrollbar{
    width: 10px;
}

.ProductWrap::-webkit-scrollbar-track{
    background: #D3D3D3;
}

.ProductWrap::-webkit-scrollbar-thumb {
    background: #808080; 
  }

.InfoWrap {
    width: 40%;
    height: 100%;
    display: flex;

}
.TotalWrap{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height: 130%;
    align-items: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: #D3D3D3;
}

.ButtonWrap {
 height: 100%;
     
}

.Finalizar {
    height: 120%;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color:#FFF;
    background-color: #32CD32;
    border:none;
    
}

.Finalizar:hover{
    cursor: pointer;
}