.material-icons {
    margin-left: 80px;
    font-size: 30px;
    border:none;
    background-color: #FFF;
}

.material-icons:hover{
cursor: pointer;
}

.iconsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Cart{
 
    display:flex;
    justify-content: flex-end;
   
}

.cartBtn{
    
    
}