.Card {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}


.InfoContainer{
    width: 100%;
  
    
}
.ImageContainer {
    width:60%;
    padding-left: 10px;
    padding-right:35px;

}
.Impressora{
    width: 100px;
 
}

.nameContainer{
    width: 50%;
    padding-bottom: 40px;  
    display: flex;   

}
.productName{
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    
}


.productQtd{
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.quantidade{
    color: #000;
    margin-right: 30px;
   
    
}
.price{
    color: #228B22;
}