.Card {
    width: 100%;
    
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
}


.InfoContainer{
    width: 50%;
    margin-right: 60px;
    
}
.ImageContainer {
    width:60%;
    padding-left: 10px;

}
.Impressora{
    width: 100px;
    
    
}

.nameContainer{
    
    padding-bottom: 40px;
    display: flex;
     flex-direction: column;

}
.productName{
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    
}


.productQtd{
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  
}

.quantidade{
    color: #000;
   
    
}
.price{
    color: #228B22;
}