.Card {

    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: 1px solid #D3D3D3;
   

}

.productName{
    text-overflow: ellipsis;
}
.Impressora{
    width: 60%;
    
}
.ImageContainer {
    

}
.InfoContainer {
    display: inline-block;
    flex-direction: column;   
   
}


.productQtd{
    display: flex;
    margin-top: 10px;
   flex-direction: row;  
   align-items: center;
   font-weight: 700;
}

.price{
    color: #228B22;
}
.quantidade{
    margin-right: 20px;
    color: #000;
    
}